/node_modules
**/node_modules
dreamgirl-firebase-creds.json


# local env files
**.env
.env.local
.env.old_one
.env.development.local
.env.test.local
.env.production.local
dump.rdb
dreamgirl-firebase-creds.json
